

  input[type="text"] {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    display: inline-block;
  }
  
  label {
    display: inline-block;
    margin-right: 10px;
  }
  
  input[type="submit"] {
    padding: 10px;
    background-color: #0074D9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  